---
// Import the layout and components
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Imagecard from "../components/Imagecard.astro";
const name = "Khushi";
---

<MainLayout title="Welcome to My Website">
	<h1>And now we are here</h1>
	<p>A simple website built with Astro</p>

	<!-- Example of using a component with props -->
	<Button text="Home" />

	<h2>Features</h2>

	<Imagecard link="https://media.istockphoto.com/id/1317323736/photo/a-view-up-into-the-trees-direction-sky.jpg?s=612x612&w=0&k=20&c=i4HYO7xhao7CkGy7Zc_8XSNX_iqG0vAwNsrH1ERmw2Q="  caption="Trees Image" height="500" />
	<!-- Example of using another component with props -->
	<Card title="Simple Design" content="Clean and minimal design that's easy to understand." />
	<Card title="Easy to Edit" content="Change text, colors, and layout with simple code." />
	<Card title="Learn by Doing" content="Every file has helpful comments to guide you." />

	<p>idjfjdfwkfhfhdffsdkjfihsjffnsejfhbakjwehnfjhinwfnjk</p>

	<Button text="welcome" />
</Layout>
